body {
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background: linear-gradient(to right ,rgb(60, 36, 87),#1c1535  ); /*#eb1708, #1b05dd*/
    animation: gradient 3s ease infinite;
}

h1 {
    background-color: white;
}