body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, cursive;
    line-height: 1.6;
    margin: 0;
    background: linear-gradient(to right ,rgb(46, 46, 46),#363636  ); /*#eb1708, #1b05dd*/
    animation: gradient 3s ease infinite;
}

h1 {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif, cursive;
}